.top-nav {
    overflow: hidden;
    background-color: #e9e9e9;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;

}

.nav-link a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav-link a:hover {
    background-color: #ddd;
    color: black;
}

.home {
    background-color: #ffae00;
    color: white;
    float: left;
}

.home a {
    color: #ddd;
}

.user-profile {
    height: 45px;
    float: right;
    margin-right: 30px;
    background-color: #ffae00;
}

.user-profile img {

    width: 30px;
    height: 45px;
    margin-right: 5px;
    border-radius: 50%;
}

.user-profile p {
    float: right;
    font-size: 18px;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: right;
    font-weight: bold;
    margin-left: 5px;
    margin-top: 9px;
}