.game {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.game img {
    width: 250px;
    height: 150px;
    object-fit: cover;
    margin-right: 20px;
    flex: 0 0 250px;
    border-radius: 5px;
}

.game h2 {
    font-size: 24px;
    margin: 0 0 10px;
    flex-basis: 100%;
}

.game p {
    font-size: 16px;
    margin: 0;
    flex-basis: 100%;
}
button:hover{
    background-color: #8a948a;
}

.edit-btn {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.delete-btn {
    background-color: #eb121d;
    /* Green */
    border: none;
    color: white;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
