.comment {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.comment img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.comment-content {
  display: flex;
  flex-direction: column;
}

.username {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.comment-text {
  margin: 5px 0 0 0;
  font-size: 16px;
}

.comment-actions {
  display: flex;
  margin-top: 10px;
}

.edit-button,
.delete-button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  margin-right: 10px;
}

.edit-button {
  background-color: #f2c94c;
  color: #fff;
  margin-bottom: 10px;
}
.delete-button {
  background-color: #f44336;
  color: #fff;
  margin-bottom: 10px;
}